body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.navbar {
  max-width: 85%;
  height: auto;
  margin: auto;
  margin-top: 5px;
}
.imgDiv {
  padding: 22px;
  overflow: hidden;
}
.pot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pot1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
html {
  scroll-behavior: smooth;
}
.cup {
  display: grid;
  align-items: center;
  height: 86vh;
  grid-template-columns: 1fr 1fr;
}
.myimage1 {
  border-radius: 50%;
  float: left;
  width: 50%;
}
.about-1 {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  align-items: center;
}
.titles {
  color: #46484b;
  text-align: start;
}
.header-cup {
  width: 100%;
  padding: 20px;
  height: auto;
  background-color: #fbc2eb;
}
.cl {
  width: auto;
  margin: 10px;
  height: auto;
  padding: 10px;
}
.cl i{
    font-size: 90px;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.con-block{
    padding-left: 45px;
}
.con-block small{
    margin-top: 5px;
}
.myimage {
  width: 100%;
  height: 90%;
  border-radius: 20%;
}
.con-hed{

    margin-left: 10px;
}
.con-flex {
  align-items: center;
  display: flex;
}
.whatDiv {
  padding: 20px;
}
.fa-tablets {
  font-size: 30px;
}

.nav-brand {
  font-size: 30px;
  margin-left: 10px;
}
.card-contact {
  margin-bottom: 20px;
  padding: 20px;
}
.card-contact i {
  font-size: 40px;
}
.potforlio {
  height: 100vh;
  width: 100%;
  margin-top: 17vh;
  background-color: white;
}
@media only screen and (max-width: 640px) {
  .navbar {
    width: 100%;
    margin: 0;
  }
  .btn-group {
    margin-top: 10px;
    width: 100%;
  }
  .potforlio {
    height: 100vh;
    width: 100%;
    margin-top: 9px;
    background-color: white;
  }
  .pot {
    display: block;
  }
}
